@import "fonts.less";
@import "solarized-dark.less";

html, body {
  height: 100%;
  background: #ededed;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-family: 'Titillium';
}

h2 {
  font-size: 40px;
  font-family: 'Titillium';
}

section {
  padding: 50px 0;
  min-height: 100%;
  text-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}

section:nth-child(odd) {
}

section:nth-child(even) {
}

section:first-child p {
  text-align: center;
}

.container {
  max-width: 700px;
}

.highlight {
  border-radius: 3px;
}

p, ul, li, pre, code {
  text-align: left;
}

pre, code {
  border: 0;
  background: none;
  font-size: 14px;
}
